.col-md-4 {
  text-align:center;
}



@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.custom-btn, input[type=submit]{
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-14, input[type=submit]{
    background: rgb(255,151,0);
    border: none;
    z-index: 1;
  }
.btn-14:after, input[type=submit]:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5)
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
.btn-14:hover, input[type=submit]:hover{
    color: #000;
  }
.btn-14:hover:after, input[type=submit]:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
.btn-14:active, input[type=submit]:active{
    top: 2px;
  }
  .everyThang{
    background-color:#EAD064;
  }
  .head1{
      font-family: "Architects Daughter", cursive;
      font-weight: 400;
      font-style: normal;
      height: 50px;
      color:#B93836;
      font-size:60px;
      margin-left:auto;margin-right:auto;
      margin-top:50px;
      
  }
  .footextra{
      background-color:#EABC64;
      position: relative;
      bottom: 0;
      width: 100.5%;
      padding-top:10px;
      font-size: 20px;
      font-family: "Inter", sans-serif;
      font-weight: 400;

  }
  .loginbtn{
      margin-top:80px;
      width: 200px;
      height: 60px;
      font-size:26px;
      margin-right: 50%;

  }
  .logoutbtn{
      width: 200px;
      height: 60px;
      font-size:26px;
  }
  .username{
      margin-top:20px;
      max-height: 30px;
      font-size:26px;
      margin-right: 50%;
      width:100%;
      overflow: hidden;
      
  }
  .headerrow{
      background-color:#EABC64;
  }
  .logobtn{
      opacity: 50%;
  }
  @media only screen and (max-width: 1000px) {
      .head1{
          margin-left: 200px;
          font-size:45px;   
      }
      .logbtns{
          display:block;
          width: 100%;
          height: 150px;
      }
      .username{
          display:block;
          margin-bottom:30px;
          width: 100%;
      }
  }
  .head2, .head3{
      font-family: "Architects Daughter", cursive;
      font-weight: 400;
      font-style: normal;
      color:#B93836;
      font-size:50px;
  }
  .head2{
    margin-top: 50px;
  }
  .head3{
      font-size: 30px;
  }
  .tinyArea{
      padding-top:30px;
      padding-bottom:30px;
  }
  .hiddenitems, .hiddenitems2{
      display: none;
  }
  .par{
      line-height: 1.5;
      font-family: "Lato";
      font-size: 20px;
  }
  .anno{
      font-size: 35px;
  }
  .baseImg{
      max-width: 150px;
      max-height: 150px;
      display:inline;
      float: left;
      
  }
  .listBorder{
    border-bottom: 2px solid black;
  }
  .hiddenExtra{
    word-wrap: clip;
  }
  .xtraSpacing{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .wideButton{
    width: 300px;
  }
  .linkButtons{
    text-decoration:none;
    color:#B93836;
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
  }
  .linkButtons:hover{
    color:black;
  }
  .deleteContentbtn{
    text-decoration:none;
    color:#B93836;
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
  }
  .deleteContentbtn:hover{
    color:black;
  }
  .formatAnchor{
    text-decoration: none;
    color: white;
  }
  .backImg{
    width: 150px;
    height: 150px;
  }
      